* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.navbar-container {
  background-color: white;
  position: relative;
  width: 100%;
  top: 0;
  margin-left: 6%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 20% 45% 60%;
  align-items: center;
  transition: 0.5s;
  height: 8vh;
}

header img {
  width: 90px;
  object-fit: cover;
}

.navbar {
  position: relative;
  display: flex;
  border: 1px solid rgb(230, 225, 225);
  border-radius: 60px;
  height: 40px;
  width: 100%;
  box-shadow: 0 0 0 0.6px rgb(174, 173, 173);
}

.navbar .input {
  display: flex;
  justify-content: left;
  width: 100%;
  outline: none;
  height: 100%;
}
#input {
  width: 100%;
  border: none;
  outline: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px;
}

.navbar img {
  width: 20px;
  margin: 24px 20px;
  margin-top: 10px;
}
.icon {
  background-color: rgba(241, 239, 239, 0.643);
  width: 10%;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  border-left: 1px solid rgb(230, 225, 225);
}

.icon:hover {
  background-color: rgba(233, 226, 226, 0.643);
  transition: all 0.1s ease-in-out;
}

.side-bar {
  /* background-color: beige; */
  position: fixed;
  width: 6%;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: white;
}

.side-bar_container {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.side-bar_container img {
  width: 40px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.side-bar_container img:hover {
  border-radius: 50%;
  background-color: rgb(230, 227, 227);
  opacity: 0.8;
}

.side-bar_p {
  display: grid;
  grid-template-rows: repeat(4, 70px);
  padding-top: 15px;
}

.side-bar_p_active {
  width: 250%;
  /* background-color: rgb(199, 199, 225); */
  justify-content: left;
  height: 100vh;
  background-color: white;
}

.side-bar_active {
  grid-template-columns: 50px 85px;
  margin: 0 15px 0 10px;
  border: 1px solid black;
  height: 5vh;
}

.guide-items-p_active {
  padding: 5px 0 5px 0;
}

.main-container {
  width: 100%;
  background-color: white;
  padding-top: 3vh;
  padding-bottom: 2vh;
  /* margin-top: 8vh; */
  margin-left: 10%;
  /* position: fixed; */
  z-index: 10;
}

.tabs__button {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.tabs__button:hover {
  background-color: rgba(208, 202, 202, 0.643);
  transition: all 0.1s ease-in-out;
}
.tabs__button_color{
    background-color: black;
    color: white;
}

.user-pic {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 40%;
}

.profile-menu-wrap {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 250px;
  display: none;
  z-index: 100;
}

.active {
  display: block;
  position: absolute;
}

.profile-menu {
  background: rgb(253, 251, 251);
  margin: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgb(233, 229, 229);
  padding-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
}
.user-info img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
  margin-top: 5px;
}

.user-link p {
  width: 100%;
}

.user-link img {
  width: 50px;
  border-radius: 50%;
  padding: 8px;
}

.user-link span {
  padding-right: 20px;
}

.user-link:hover {
  background-color: rgb(232, 232, 227);
}

.guide-items {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.guide-items p {
  width: 100%;
  font-size: 70%;
  font-weight: 500;
  align-self: flex-start;
  margin-left: -10px;
  margin: 2px;
}
.guide-items img {
  width: 20px;
  margin-left: 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#sub-img {
  margin-left: 23px;
}

.guide-items:hover {
  background-color: rgb(230, 227, 227);
  opacity: 0.8;
}

.main_tabs__content {
  position: absolute;
  margin-top: 10vh;
  margin-left: 10%;
}

.tabs__content {
  display: none;
  width: 100%;
}
.tabs__content--active {
  margin-top: 10vh;
  display: block;
}
.tabs__button_color {
  background-color: black;
  color: white;
}

.music {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 270px);
}

.music .img {
  width: 270px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.desc span {
  padding: 5px;
  font-size: small;
  color: gray;
}
.desc {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr;
  grid-template-rows: 0.1fr 0.1fr;
  grid-gap: 0px;
  cursor: pointer;
 
}
.desc p {
  padding: 5px;
  font-size: 13px;
   text-decoration: none;
   color: black;
}
.desc img {
  width: 40px;
  height: 40px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.cs {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 270px);
}

.cs .img {
  width: 270px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.cs_img_desc .desc img {
  width: 40px;
  height: 40px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50px;
}

.travel {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 270px);
}

.travel .img {
  width: 270px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.travel_img_desc .desc img {
  width: 40px;
  height: 40px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50px;
}

.arch {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 270px);
}

.arch .img {
  width: 270px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.arch_img_desc .desc img {
  width: 40px;
  height: 40px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50px;
}

.all {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 270px);
}

.all .img {
  width: 270px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.all_img_desc .desc img {
  width: 40px;
  height: 40px;
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50px;
}


/* -------Open-image------ */

.img-container {
    padding-left: 6%;
}
.row{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap ;
    margin-top: 15vh;
}
.open-image{
    flex-basis: 60%;
}
.right-sidebar{
    /* margin-top: 30px; */
    flex-basis: 35%;
}
.open-image img{
    width: 100%;
}
.side-img-list{
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;

}
.side-img-list img{
    width: 100%;
}
.side-img-list .side-img{
    flex-basis: 60%;
}
.side-img-list .img-desc{
    flex-basis: 90%;
}
.img-desc {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.img-desc span{
    color: gray;
    font-size: small;
}

.open-image p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
}
.open-image h5{
    margin-top: 25px;
    padding: 0 15px;
}
.title_desc{
    font-size: small;
    color: black;
    margin-top: 15px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid black; */
}
.title_desc #btn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
#btn img{
    margin: 5px;
}
#btn:hover{
    background-color: rgb(220, 220, 218);
    transition: 0.3s;
}
.open-image .title_desc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.open-image .title_desc button img{
    width: 20px;
    margin-right:8px ;
}
.open-image .title_desc button{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
}
.publisher img{
    width: 40px;
    margin-right: 10px;
    border-radius: 50px;
}
.publisher div span{
    font-size: 13px;
    color: gray;
}
.publisher button{
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    border-radius: 20px;  
    font-size: small;
    font-weight: 600;
    cursor: pointer;
}
.publisher button:hover{
    background-color: rgb(78, 78, 78);
    transition: 0.1s;
}

.add_comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.add_comment img{
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.add_comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    width: 100%;
}
#add_comment button{
    padding: 10px 15px;
    border-radius: 60px;
    border: none;
    outline: none;  
    cursor: pointer;
    margin-bottom: 10px;
}
#add_comment button:hover{
    background-color: rgb(220, 220, 218);
    transition: 0.3s;
}
 .style{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 50%;
    color:black;
    margin: 0px 10% 30px 10%;
    padding: 10px;
    font-size: small;
    border: 1px solid black;
    border-radius: 10px;
}
.img-style{
    border-radius: 50%;
    margin-right: 10px;
}
